/* frontend/src/App.css */
.tarea {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.tarea button:disabled {
  background-color: gray;
}

.tarea.completada {
  background-color: #e0e0e0;
  text-decoration: line-through;
}
